@import url('https://fonts.googleapis.com/css2?family=Allura&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Formatações Padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    font-size: 1.6rem;
    background-color: #F5E1F5;
}

/*===HEADER===*/
.header {
    background-color: #F2C5EA;
    width: 100%;
    height: auto;
}

/* Headings */
.headings {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    /* main-axis */
    justify-content: center;

    color: #3B2416;
    font-family: 'League Spartan';
    text-transform: uppercase;
}

/* Heading 1 */
.heading-1 {
    padding-top: 1.5rem;

    font-size: 8.3rem;
    font-weight: 300;

    letter-spacing: 1.6rem;
}

/* Heading 2 */
.heading-2 {
    font-size: 4.3rem;
    font-weight: 200;

    letter-spacing: 1.29rem;
}

/*===MENU/NAV LINKS===*/

/* Link's list */
.header-menu .links-list {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    /* main-axis */
    justify-content: space-around;
    /* cross-axis */
    align-items: center;

    font-size: 3.5rem;

    border-top: 0.01rem solid #3B2416;
}

.header-menu .links-list .list-item .items-link {
    color: #3B2416;
    font-family: "Allura", cursive;
    font-weight: 400;
}

.header-menu .links-list .list-item .items-link:hover {
    background-color: #F5E1F5;
    border-radius: 20px;

    padding: 0 1rem;
}

/*===MAIN CONTENT===*/
main {
    border-top: 0.1px solid #3B2416;
}

.about-card {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.conteudo-principal-imagem {
    width: 62.6rem;
    height: 61.7rem;
    border-radius: 25px;
    margin: 2.5rem 0 0 2.5rem;

    display: block;
}

.prologue {
    margin: 2.5rem 0 0 3.7rem;
    width: 50rem;
    height: auto;

    font-family: "Cormorant Garamond";
    font-weight: 400;
    font-size: 3rem;

    text-align: left;
    line-height: 3.6rem;
    line-break: auto;
}


/* Media queries - mobile */
@media screen and (max-width: 480px) {
    .heading-1 {
        font-size: 4.15rem;
        font-weight: 300;

        text-align: center;
    }

    /* Heading 2 */
    .heading-2 {
        padding-top: 0.5rem;

        font-size: 2.15rem;
        letter-spacing: 1.29rem;
    }


    /* Link's list */
    .header-menu .links-list {
        font-size: 1.75rem;
    }

    .about-card {
        display: flex;
        flex-direction: column;
        /* main-axis */
        align-items: center;
    }

    .conteudo-principal-imagem {
        width: 40rem;
        height: 30rem;
        border-radius: 25px;
        margin: 1.7rem auto 0 auto;
        display: block;
    }

    .prologue {
        width: 40rem;
        height: auto;
        margin: 1.7rem auto 0 auto;

        font-family: "Cormorant Garamond";
        font-weight: 400;
        font-size: 2rem;

        text-align: justify;
        line-height: 100%;
        line-break: auto;
    }

    /* Quando um site tem várias página, geralmente se cria um único arquivo .css e nele se escreve as regras gerais que servem para elementos que se repetem como por exemplo um menu e posteriormente regras específicas para elementos específicos, todos no mesmo arquivo, né? ou não? 
    
    "Sim, essa é uma prática muito comum e totalmente válida, principalmente para sites pequenos e médios. Centralizar o CSS em um único arquivo facilita a manutenção das páginas que compartilham a mesma estrutura." */
}