/*===MAIN CONTENT===*/
.books-card {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    /* main-axis */
    align-items: center;
}

.books-cover {
    width: 35rem;
    height: 48.8rem;

    margin-top: 3.6rem;
}

.books-card .text {
    display: flex;
    flex-direction: column;
    /* main-axis */
    align-items: center;
}

.main-content .text .title {
    margin-top: 2.3rem;

    color: #3B2416;

    font-size: 6rem;
    font-family: "Cormorant Garamond";
    font-weight: 400;
    font-style: normal;
}

.division-line {
    border: 0.01rem solid black;
    background-color: #3B2416;
    width: 23.9rem;
}

.authors-quote {
    margin-top: 2rem;

    color: #3B2416;

    font-size: 3.2rem;
    font-family: "Playfair Display";
    font-weight: 400;
    font-style: italic;
}

.know-more-link {
    width: 27.9rem;
    height: auto;

    background-color: #C37A8E;
    color: #ffffff;
    margin-top: 1.3rem;
    border: 0.1rem solid black;
    border-radius: 20px;

    font-size: 3.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;

    display: flex;
    flex-direction: column;
    /* main-axis */
    align-items: center;
    /* cross-axis */
    justify-content: center;
}

.know-more-link:hover {
    color: #3B2416;
    background-color: #F2C5EA;
}

.dl-2 {
    margin-top: 2.5rem;
}

.prologues-link {
    margin: 2.5rem 0 2.5rem 0;
    padding: 0.3rem 2.3rem 0.5rem 2.3rem;

    width: 19.6rem;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    background-color: #C37A8E;
    border: 1px solid black;
    border-radius: 55px;

    font-size: 2.8rem;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
}

.prologues-link:hover {
    color: #3B2416;
    background-color: #F2C5EA;
}


/* Media queries - mobile */
@media screen and (max-width: 480px) {
    .books-cover {
        width: 35rem;
        height: 38rem;

        margin-top: 3.6rem;
    }

    .main-content .text .title {
        font-size: 3rem;
    }

    .division-line {
        width: 11.95rem;
    }

    .main-content .text .title {
        font-size: 4rem;
    }

    .authors-quote {
        font-size: 2rem;
    }

    .know-more-link {
        width: 16rem;
        height: auto;

        padding: 0.5rem 2.3rem 0.5rem 2.3rem;

        font-size: 1.8rem;
    }

    .prologues-link {
        width: 14rem;
        height: auto;

        font-size: 1.6rem;
    }
}
