/* main-content */
.books-versions {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    /* main-axis */
    justify-content: center;
}

/* general styles */
.top-line {
    margin-top: 2.5rem;
    border: 0.1px solid black;
    background-color: #3B2416;
    width: 23.9rem;
}

.bottom-line {
    margin-top: 1.5rem;
    border: 0.1px solid black;
    background-color: #3B2416;
    width: 23.9rem;
}


/* Physical book */
.book-cover-1 {
    width: 35rem;
    height: 48.8rem;

    margin: 7.5rem 5.2rem 0 0;
}

.pb-link-area {
    width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pb-button {
    width: 27.9rem;
    height: 4rem;

    margin-top: 5.3rem;

    background-color: #C37A8E;
    color: #fff;
    margin-top: 1.3rem;
    border: 1px solid black;
    border-radius: 20px;

    font-size: 3.2rem;
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;

    display: flex;
    flex-direction: column;
    /* main-axis */
    align-items: center;
    /* cross-axis */
    justify-content: center;
}

.pb-button:hover {
    color: #3B2416;
    background-color: #F2C5EA;
}




/* E-book */
.book-cover-2 {
    width: 35rem;
    height: 48.8rem;
    margin-top: 7.6rem;
}

.e-book-link-area {
    display: flex;
    flex-direction: column;
    /* main-axis */
    align-items: center;
}

.e-book-button {
    width: 27.9rem;
    height: 4rem;

    background-color: #C37A8E;
    color: #ffffff;
    margin-top: 1.3rem;
    border: 1px solid black;
    border-radius: 20px;

    font-size: 3.2rem;
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;

    display: flex;
    flex-direction: column;
    /* main-axis */
    align-items: center;
    /* cross-axis */
    justify-content: center;
}

.e-book-button:hover {
    color: #3B2416;
    background-color: #F2C5EA;
}
