@import url('https://fonts.googleapis.com/css2?family=Allura&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Formatações Padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-size: 100%;
    background-color: #F5E1F5;
}

/* Conteúdo Principal */
.conteudo-principal-secao-um {
    width: 100%;
    height: auto;

    border-top: 0.1px solid #3B2416;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Botão Livro Físico */
.conteudo-principal-imagem-um {
    width: 350px;
    height: 488px;
    
    margin: 75px 52px 0 0;
}

.linha-I-a {
    margin-top: 25px;
    border: 0.1px solid black;
    background-color: #3B2416;
    width: 239px;
}

.conteudo-principal-botao-livro-fisico {
    width: 279px;
    height: 40px;

    margin: 53px 0 0 0;

    background-color: #C37A8E;
    color: #ffffff;
    margin: 13px 0 0 0;
    border: 1px solid black;
    border-radius: 20px;

    font-size: 32px; 
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo-principal-botao-livro-fisico:hover {
    color: #3B2416;
    background-color: #F2C5EA;
}

.linha-II-a {
    margin-top: 15px;
    border: 0.1px solid black;
    background-color: #3B2416;
    width: 239px;
}

.area-livro-fisico {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 0 0 0;

    
}

/* E-book */
.conteudo-principal-imagem-dois {
    width: 350px;
    height: 488px;
    
    margin: 76px 0 0 0;
}

.linha-I-b {
    margin-top: 25px;
    border: 0.1px solid black;
    background-color: #3B2416;
    width: 239px;
}

/* Botão E-book */
.conteudo-principal-botao-e-book {
    width: 279px;
    height: 40px;

    background-color: #C37A8E;
    color: #ffffff;
    margin: 13px 0 0 0;
    border: 1px solid black;
    border-radius: 20px;

    font-size: 32px; 
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo-principal-botao-e-book:hover {
    color: #3B2416;
    background-color: #F2C5EA;
}

.linha-II-b {
    margin-top: 15px;
    border: 0.1px solid black;
    background-color: #3B2416;
    width: 239px;
}

.area-e-book {
    display: flex;
    flex-direction: column;
    align-items: center;
}
