/* Importando a fonte hospedada localmente */

/* monteserrat-semibold */
@font-face {
    /* Nome da fonte local no arquivo */
    font-family: 'montserrat-semibold';
    /* Caminho */
    src: url('/assets/fonts/montserrat/montserrat-semibold/montserrat-semibold.ttf')
        /* Identificador de formato de arquivo */
        format('truetype');
}

/* montserrat-regular */
@font-face {
    /* Nome da fonte local no arquivo */
    font-family: 'montserrat-regular';
    /* Caminho */
    src: url('/assets/fonts/montserrat/montserrat-regular/montserrat-regular.ttf')
        /* Identificador de formato de arquivo */
        format('truetype');
}

/*===HEADER===*/
.header {
    background-color: #F2C5EA;
    width: 100%;
    height: auto;
}

.logo {
    width: 20rem;
    height: auto;

    top: 2.5rem;
    left: 16rem;

    display: block;
    position: absolute;
}

/* Headings */
.headings {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    /* main-axis */
    justify-content: center;

    color: #3B2416;
    text-transform: uppercase;
    text-align: center;
}

/* Heading 1 */
.heading-1 {
    padding-top: 6.679rem;

    font-family: 'montserrat-semibold';
    font-size: 6rem;

    letter-spacing: 1.6rem;
}

/* Heading 2 */
.heading-2 {
    margin-bottom: 4rem;

    font-size: 3rem;
    font-family: 'montserrat-regular';

    letter-spacing: 1.5rem;
}

/*===MENU/NAV LINKS===*/

/* Link's list */
.header-menu .links-list {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    /* main-axis */
    justify-content: space-around;
    /* cross-axis */
    align-items: center;

    font-size: 3.5rem;

    border-top: 0.01rem solid #3B2416;
}

.header-menu .links-list .list-item .items-link {
    color: #3B2416;
    font-family: "Allura", cursive;
    font-weight: 400;
}

.header-menu .links-list .list-item .items-link:hover {
    background-color: #F5E1F5;
    border-radius: 20px;

    padding: 0 1rem;
}

main {
    border-top: 0.1px solid #3B2416;
}

@media screen and (max-width: 480px) {
    .headings {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: row;
        /* main-axis */
        justify-content: center;
    }

    .logo {
        width: 6rem;
        height: auto;

        top: 1rem;
        left: 22rem;

        display: block;
        position: absolute;
    }

    /* Heading 1 */
    .heading-1 {
        font-size: 2.2rem;

        letter-spacing: 1.15rem;
    }

    /* Heading 2 */
    .heading-2 {
        padding-top: 0.5rem;

        margin-bottom: 1.5rem;

        font-size: 1rem;
        letter-spacing: 1.29rem;
    }

    /* Link's list */
    .header-menu .links-list {
        font-size: 3rem;
    }
}