/* Importando a fonte hospedada localmente */

/* monteserrat-semibold */
@font-face {
    /* Nome da fonte local no arquivo */
    font-family: 'montserrat-semibold';
    /* Caminho */
    src: url('/assets/fonts/montserrat/montserrat-semibold/montserrat-semibold.ttf')
        /* Identificador de formato de arquivo */
        format('truetype');
}

/* montserrat-regular */
@font-face {
    /* Nome da fonte local no arquivo */
    font-family: 'montserrat-regular';
    /* Caminho */
    src: url('/assets/fonts/montserrat/montserrat-regular/montserrat-regular.ttf')
        /* Identificador de formato de arquivo */
        format('truetype');
}

/*===HEADER===*/
.header {
    background-color: #F2C5EA;
    width: 100%;
    height: auto;
}

.visual-content {
    width: 100%;
    height: auto;

    /* background-color: lightblue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo-container {
    /* background-color: white; */

    top: 30px;
    left: 180px;
    position: absolute;
}

.logo {
    display: block;
    width: 20rem;
    height: auto;
}

/* Headings */
.headings {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    /* main-axis */
    justify-content: center;

    color: #3B2416;
    text-transform: uppercase;
    text-align: center;
}

/* Heading 1 */
.heading-1 {
    /* background-color: rebeccapurple; */
    /* color: #fff; */

    margin-top: 6.679rem;

    font-family: 'montserrat-semibold';
    font-size: 6rem;

    letter-spacing: 1.6rem;
}

/* Heading 2 */
.heading-2 {
    /* background-color: green;
    color: #fff; */

    font-size: 3rem;
    font-family: 'montserrat-regular';

    letter-spacing: 1.5rem;
}

/*===MENU/NAV LINKS===*/

/* Link's list */
.header-menu .links-list {
    width: 100%;
    height: auto;

    margin-top: 4rem;

    display: flex;
    /* current main-axis */
    flex-direction: row;
    /* main-axis */
    justify-content: space-around;
    /* cross-axis */
    align-items: center;

    font-size: 3.5rem;

    border-top: 0.01rem solid #3B2416;
}

.header-menu .links-list .list-item .items-link {
    color: #3B2416;
    font-family: "Allura";
}

.header-menu .links-list .list-item .items-link:hover {
    background-color: #F5E1F5;
    border-radius: 20px;

    padding: 0 1rem;
}

main {
    border-top: 0.1px solid #3B2416;
}

@media screen and (max-width: 480px) {
    .visual-content {
        display: flex;
    }

    .titles {
        padding: 5px;
    }

    .logo-container {
        background-color: #fff;
        top: 5px;
        left: 10px;
    }

    .logo {
        display: block;
        width: 5rem;
        height: auto;
    }

    /* Heading 1 */
    .heading-1 {
        background-color: #fff;
        margin-left: 10px;
        
        font-size: 2.2rem;

        margin-top: 0;

        letter-spacing: 0.1rem;
    }

    /* Heading 2 */
    .heading-2 {
        padding-top: 0.5rem;

        margin-bottom: 0;

        font-size: 1rem;
        letter-spacing: 0.3rem;
    }

    /* Link's list */
    .header-menu .links-list {
        margin-top: 0rem;
        font-size: 3rem;
    }
}